<!DOCTYPE html>
<html>
<title>Holle ComScience</title>
<link rel="icon" href="/static/img/LOGO.png" type="image/x-icon">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.bgimg {background-image: url("/static/img/126-1267598_45-hd-creative-electrical-pictures-full-hd-wallpapers.jpg")}
</style>
<body>

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">WELCOME</h1>
    <h2>ComSci Mathematics</h2>
    <h3>Ubon Ratchathani University</h3>
  </div>
</header>

<!-- Navbar (sticky bottom) -->
<div class="w3-bottom w3-hide-small">
  <div class="w3-bar w3-black w3-center w3-padding w3-opacity-min w3-hover-opacity-off"style="color-font:white;">
    <a href="./Booth" style="width:20%;" class="w3-bar-item w3-button"><b>Booth's Algorithm</a>
    <a href="./Base" style="width:20%" class="w3-bar-item w3-button">Base Converter</a>
    <a href="./Fix" style="width:20%" class="w3-bar-item w3-button">Infix Postfix Prefix</a>
    <a href="./Two"  style="width:20%" class="w3-bar-item w3-button">Two's Complement</a>
    <a href="./Contact" style="width:20%" class="w3-bar-item w3-button w3-hover-black">Contact<b></a>
  </div>
</div>
</body>
</html>
